<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>pl.Raman-Kozar.RunRhythm</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>music</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>RunRhythm needs access to your music library to select songs that match your running pace and help maintain your target running rhythm.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>RunRhythm needs access to your health data to track your running pace and heart rate to provide personalized music recommendations.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>RunRhythm needs permission to save your workout data to provide accurate tracking of your running sessions.</string>
	<key>NSMotionUsageDescription</key>
	<string>RunRhythm uses motion data to accurately track your running pace and movements.</string>
	<key>NSMusicUsageDescription</key>
	<string>RunRhythm needs access to your music library to select songs that match your running pace.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>healthkit</string>
		<string>music-library</string>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
